.card-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    background-color: azure;
    transition: all .2s;
    border-radius: 40px;

}

.card-container:hover{
    box-shadow: 1px 10px 5px -6px rgba(0,0,0,0.56);
-webkit-box-shadow: 1px 10px 5px -6px rgba(0,0,0,0.56);
-moz-box-shadow: 1px 10px 5px -6px rgba(0,0,0,0.56);
}
.Nombre-cripto{
    margin-top: 10px;
    text-align: center;
}
.card-container img{
    
    width: 20px;
}

.detalles-container{
    align-items: center;
}


@media (max-width: 600px) {
    .card-container{
        width: 90%;
    }
  }